# Basic feature extraction using text data

### Importing the twitter feed as sample data to perform text analysis

In [50]:
import pandas as pd

In [51]:
path = "F:/MachineLearningUdemzCourse/TwitterSentimentAnalysis"
dataset = pd.read_csv(path + '/train_dataset.csv')

In [52]:
dataset.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                      bihday your majesty take care
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

#### 1.1 Extracting the Number of words in a tweet
Just use the spilt function

In [53]:
dataset['word_count'] = dataset['tweet'].apply(lambda x: len(str(x).split(" ")))
dataset[['tweet','word_count']].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          21
1  @user @user thanks for #lyft credit i can't us...          22
2                      bihday your majesty take care           5
3  #model   i love u take with u all the time in ...          17
4             factsguide: society now    #motivation           8

#### 1.2 finding the number of characters by calculating the length of the tweet

In [32]:
dataset['char_count'] = dataset['tweet'].str.len() # spaces are also included
dataset[['tweet','char_count']].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39

#### 1.3 Calculating the average word length

In [33]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

dataset['avg_word'] = dataset['tweet'].apply(lambda x: avg_word(x))
dataset[['tweet','avg_word']].head()

                                               tweet  avg_word
0   @user when a father is dysfunctional and is s...  4.555556
1  @user @user thanks for #lyft credit i can't us...  5.315789
2                                bihday your majesty  5.666667
3  #model   i love u take with u all the time in ...  4.928571
4             factsguide: society now    #motivation  8.000000

#### 1.4 Calculating the number of stopwords
Stop words are natural language words which have very little meaning, such as "and", "the", "a", "an", and similar words.

In [36]:
from nltk.corpus import stopwords 
stop = stopwords.words('english')

dataset['stopwords'] = dataset['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
dataset[['tweet','stopwords']].head()

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  Searched in:
    - 'C:\\Users\\sanlog/nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
    - 'C:\\Users\\sanlog\\Anaconda3\\nltk_data'
    - 'C:\\Users\\sanlog\\Anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\sanlog\\AppData\\Roaming\\nltk_data'
**********************************************************************